{% extends 'app.html' %}
{% load static i18n %}

{% block title %}
	{% trans "Yozuvlar" %}
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="controls d-flex align-items-center justify-content-between">
                <div class="angles">
                    <a><i class="fal fa-angle-left"></i></a>
                    <a><i class="fal fa-angle-right"></i></a>
                </div>
                <div class="daily-about">
                    <p>18-sentyabr Shanba 13:13</p>
                </div>
                <a href="#">
                    <i class="fal fa-expand" id="full-screen"></i>
                    <i class="fal fa-compress display_none" id="full-screen2"></i>
                </a>
            </div>
            <div class="modal-form display_none">
                <div class="container">
                    <div class="block-form col-12">
                        <form action="" method="GET">
                            {% csrf_token %}
                            <div class="pats">
                                <p class="mb-1 d-flex justify-content-between"><label for="bemor">Bemor</label><a href="#" class="times"><i class="fal fa-times"></i></a></p>
                                <input id="bemor" type="text" class="w-100 mb-3" placeholder="F.I.O yoki Telefon" required>
                                <div class="bottom-inputs d-flex justify-content-between flex-wrap mt-2">
                                    <div class="left col-12 col-lg-3 d-flex flex-column align-items-start">
                                        <p class="mb-1"><label for='number'>Telefon</label></p>
                                        <input id='number' type="text" required class=" wid" name="number">
                                    </div> 
                                    <div class="center col-12 col-lg-3 d-flex flex-column align-items-start">
                                        <p class="mb-1 left"><label for="date">Tugilgan sana</label></p>
                                        <input id="date" type="date" class=" wid" required>
                                    </div>
                                    <div class="end col-12 col-lg-3">
                                        <p class="mb-1 left"><label for="Jins">Jins</label></p>
                                        <input id="Jins" type="radio" class="m-1" name="drone">Erkak
                                        <input id="Jins" type="radio" class="m-1" name="drone">Ayol
                                    </div>
                                    <div class="end col-12 col-lg-3 d-flex flex-column align-items-start">
                                        <p class="mb-1 left"><label for="Manzil">Manzil</label></p>
                                        <input id="Manzil" type="text"  class=" wid" name='adress'>
                                    </div>
                                </div>
                            </div>
                            <div class="work-time">
                                <div class="form-title">
                                    <p><i class="fal fa-calendar-week"></i> Shanba, 18-sentyabr 14:00</p>
                                </div>
                                <div class="bottom-inputs d-flex justify-content-between flex-wrap mt-4">
                                    <div class="left col-12 col-lg-3">
                                        <p class="mb-1">Xizmat</p>
                                        <select name="" id="service">
                                            <option value="">Xizmat tanlash</option>
                                            <option value="">Plomba</option>
                                            <option value="">Implant</option>
                                            <option value="">Implant</option>
                                            <option value="">Implant</option>
                                        </select>
                                    </div>
                                    <div class="center col-12 col-lg-3 d-flex flex-column align-items-start">
                                        <p class="mb-1 left">Boshlanish vaqti</p>
                                        <select name="" id="begin" class=" wid">
                                            <option value="">8:00</option>
                                            <option value="">8:15</option>
                                            <option value="">8:30</option>
                                            <option value="">8:45</option>
                                            <option value="">9:00</option>
                                        </select>
                                    </div>
                                    <div class="end col-12 col-lg-3">
                                        <p class="mb-1 left">Qancha vaqt</p>
                                        <select name="" id="end" class=" wid">
                                            <option value="">15min</option>
                                            <option value="">30min</option>
                                            <option value="">45min</option>
                                            <option value="">1soat</option>
                                        </select>
                                    </div>
                                    <div class="end col-12 col-lg-3">
                                        <p class="mb-1 left">Eslatma</p>
                                        <textarea name="" id="commit" class="w-100"></textarea>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end col-12 col-lg-3 offset-md-9">
                                        <a href="name"> <button class="btn btn-primary me-md-2 mt-2" type="button" value="name">Tasdiqlamoq</button></a>
                                        <button class="btn btn-secondary mt-2" type="button">Bekor qilmoq</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="overflow"></div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'uz' %}days = [
            "Dushanba",
            "Seshanba",
            "Chorshanba",
            "Payshanba",
            "Juma",
            "Shanba",
            "Yakshanba"
        ]
        {% elif LANGUAGE_CODE == 'ru' %}days = [
            "Понедельник",
            "Вторник",
            "Среда",
            "Четверг",
            "Пятница",
            "Суббота",
            "Воскресенье"
        ]
        {% endif %}
        today = new Date()
        today.setTime(today.getTime() - ((today.getDay() + 6) % 7) * 24 * 60 * 60 * 1000)
        $.ajax({
            url: "{% url 'appointment:table' %}",
            success: function(result) {
                $(".overflow").html(result)
                $("head").append(
                    $("<link rel='stylesheet'>").attr("href", "{% static 'css/table.css' %}")
                )
                $(".overflow td").on("dblclick", function() {
                    if ($(".modal-form").hasClass("display_none")) {
                        $(".modal-form").addClass("display_absolute").removeClass("display_none")
                        temp = $(`thead th:nth-child(${$(this).index() + 1})`).html().split("<br>")
                        text = ` ${temp[1]}, ${temp[0]}, ${$(this).parent().children(":first-child").text()}`
                        $(".form-title p").text(text)
                    } else {
                        $(".modal-form").removeClass("display_absolute").addClass("display_none")
                    }
                })
            }
        })
        $(".fa-angle-left").on("click", function() {
            $.ajax({
                url : "{% url 'appointment:table' %}",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    day: today.getDate(),
                    month: today.getMonth() + 1,
                    year: today.getFullYear(),
                    direction: "left"
                },
                dataType : "json",
            }).always(function(result) {
                $(".overflow").html(result.responseText)
                $(".overflow td").on("dblclick", function() {
                    if ($(".modal-form").hasClass("display_none")) {
                        $(".modal-form").addClass("display_absolute").removeClass("display_none")
                        temp = $(`thead th:nth-child(${$(this).index() + 1})`).html().split("<br>")
                        text = ` ${temp[1]}, ${temp[0]}, ${$(this).parent().children(":first-child").text()}`
                        $(".form-title p").text(text)
                    } else {
                        $(".modal-form").removeClass("display_absolute").addClass("display_none")
                    }
                })
            })
            today.setTime(today.getTime() - 7 * 24 * 60 * 60 * 1000)
        })
        $(".fa-angle-right").on("click", function() {
            $.ajax({
                url : "{% url 'appointment:table' %}",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    day: today.getDate(),
                    month: today.getMonth() + 1,
                    year: today.getFullYear(),
                    direction: "right"
                },
                dataType : "json",
            }).always(function(result) {
                $(".overflow").html(result.responseText)
                $(".overflow td").on("dblclick", function() {
                    if ($(".modal-form").hasClass("display_none")) {
                        $(".modal-form").addClass("display_absolute").removeClass("display_none")
                        temp = $(`thead th:nth-child(${$(this).index() + 1})`).html().split("<br>")
                        text = ` ${temp[1]}, ${temp[0]}, ${$(this).parent().children(":first-child").text()}`
                        $(".form-title p").text(text)
                    } else {
                        $(".modal-form").removeClass("display_absolute").addClass("display_none")
                    }
                })
            })
            today.setTime(today.getTime() + 7 * 24 * 60 * 60 * 1000)
        })
    </script>
{% endblock %}